# .clang-tidy
Checks: >
  -*,
  bugprone-*,
  cert-*,
  performance-*,
  readability-*,
  google-*,
  cppcoreguidelines-*,
  -modernize-*,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-use-default-member-init,
  -cppcoreguidelines-use-enum-class

# Only analyze your own headers
HeaderFilterRegex: '^(include|src)/.*'
WarningsAsErrors: ''
MacroBlocklist: []
SuppressSpecifiers:
  - "criterion"